%table.table
  %thead
    %th
    - roles.each do |role|
      %th.text-center
        - if [:public, :signed_in].include?(role)
          = role.to_s.titleize
        - else
          = ":#{role}"
  %tbody
    - klasses.each do |klass|
      %tr
        %td= effective_roles_authorization_label(klass)
        - roles.each do |role|
          %td.text-center
            = effective_roles_authorization_badge(effective_roles_authorization_level(controller, role, klass))
